* Quick read */
.section-title{
    position: relative;
    font-size: var(--font-size-md);
    margin-bottom: 6rem;
}

.section-title::after{
    content: attr(data-name);
    font-size: var(--font-size-lg);
    text-transform: uppercase;
    opacity: .1;
    position: absolute;
    top: 1.5rem;
    left: 2rem;
}

.article.swiper-slide{
    height: 40rem;
}

/* Quick read - Swiper */
.swiper-wrapper{
    height: auto;
}
.swiper-controls{
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--secondary-background-color);
}

.swiper-controls::after{
    font-size: 1.6rem;
    color: var(--light-color);
}

.swiper-pagination{
    bottom: .5rem !important;
}

.swiper-pagination-bullet{
    background-color:var(--light-color);
}



.article-title{
    font-size: var(--font-size-md);
}

.article{
    position: relative;
    min-height: var(--item-min-height-md);
}

.article-data-container{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 2rem 1.5rem;
    background-color: var(--transparent-dark-color);
    z-index: 10;
    transition: background-color .5s;
}

/* Light theme color hover styles */
.article:hover .article-data-container{
    background-color: var(--hover-dark-color);
    color: var(--hover-light-color);
}

.article:hover .article-data-spacer{
    background-color: var(--hover-light-color);
}

.article:hover .article-title{
    color: var(--hover-light-color);
}


.article-data{
    display: flex;
    align-items: center;
    gap: var(--gap);
    font-size: var(--font-size-xsm);
    margin-bottom: 1rem;
}

